html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url("@/assets/images/ubuntu-wallpaper.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
  background-size: cover;
  font-family: "ubuntuRegular";
}

@font-face {
  font-family: ubuntuRegular;
  src: url("@/assets/fonts/ubuntu.regular.ttf");
}

#app {
  height: inherit;
  width: inherit;
}

.d-flex {
  display: flex;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 70%;
  height: 75%;
  z-index: 2;
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  body {
    background-position: right;
  }

  .container {
    width: 70%;
    height: 75%;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  body {
    background-position: right;
  }

  .container {
    width: 70%;
    height: 75%;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  body {
    background-position: right;
  }

  .container {
    width: 90%;
    height: 75%;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  body {
    background-position: initial;
  }
}
